body {
    background-color: rgb(253, 251, 251);
    margin:0;
    background-image: url(wallpaperpokemon.png); 
     
}

header{
    background-color: rgb(35, 189, 250);
    position: fixed;
    background-position: 70% 80%;
    width: 100%;
    height: 7%;
    top: 0;
    
}

.insta{
    float: right ;
    top:0%;
    position: absolute;
    display: block;
    right: 0;
}

#titulo {
    color: rgba(255, 202, 231, 0.945);
    top: -40%;
    position: absolute;
  left: 1%;
}



.image_container {
    height: 750px;
    position: relative;
    display: flex;

}




.texto1 {
    position: absolute;
    left: 5%;
    top:10%;
    color: azure;
    font-size: 19px;
    
}
    
  
.texto2{
    position: absolute;
    left: 5%;
    top:40%;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
  
    
.trybe{
    color:rgb(49, 134, 9);
}

    
.paragrafo1{
    position: absolute;
    left: 10%;
    top:70%;
    font-size: 15px;
    color: rgb(2, 1, 2);
}
    
.paragrafo2
{
    position: absolute;
    left: 48%;
    top:70%;
    font-size: 15px;
    color: rgb(0, 0, 0);
   
}

.titulo2{
    color: rgb(136, 0, 0);
}

.titulo1{
    color: rgb(136, 0, 0);
}

.minha_image{
    position: absolute;
    top: 150%;

}